@import "../../mixins";
@import "../../variables";


.SelectedItemsPage{
    margin-top: 40px;
    margin-bottom: 40px;
    h5{
        text-align: center;
    }
    .delete-all{
        display: flex;
        margin-right: 10px;
        cursor: pointer;
        align-items: center;
        margin: 10px 0;
        justify-content: flex-end;
        svg{
            padding-right: 3px;
        }
    }
    .flex-div{
        display: grid;
        margin-bottom: 20px;
        grid-template-columns: 30px 180px auto 100px 50px;
        img{
            width: 150px;
        }
        @media screen and (max-width: 500px) {
            img{
                width: 100px;
                max-height: 150px;
            }
        }
        @media (max-width: 850px) {
            justify-content: space-around;
            grid-template: "b b a a ." 
                        "b b c d ."
                        "b b c d m";
            img{
                grid-area: b;
            }
            .title-desc{
                grid-area: a;
            }
            .btn-section{
                grid-area: c;
            }
            .price{
                grid-area: d;
            }
            svg{
                grid-area: m;
            }
        }
        @media (max-width: 660px){
            .title-desc{
                max-width: 300px;
            }
        }
        @media (max-width: 590px) {
            grid-template: "b b b" 
                        "b b b"
                        "a a a"
                        "c d m";
            justify-content: center;
            justify-items: center;
            .title-desc{
                text-align: center;
                margin: 8px 0;
            }
        }
        .title-desc{
            width: 400px;
            .desc{
                font-size: 14px;
                opacity: 0.7;
            }
        }
        .btn-section{
            span{
                margin: 0 8px;
            }
            button{
                line-height: 1rem; 
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border-color: $color_1;
                background-color: #fff;
            }
        }
    }

}